body{

    font-family: 'Montserrat', sans-serif;

}
.fakeimg {
    height: 200px;
    background: #aaa;
  }
  #prueba:hover{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba:active{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba:visited{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba3:hover{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba3:active{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba3:visited{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba4:hover{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba4:active{
    background: rgb(27, 148, 156);
    color:white;
  }
  #prueba4:visited{
    background: rgb(27, 148, 156);
    color:white;
  }
 
    .search-label {
      position: relative;
      display: inline-block;
      text-align:left;
      
    }
    .search-icon {
      position: absolute;
      top: 16%;
      right:2%;
      width:25px;
    }
     .search-icon2 {
      position: absolute;
      top: 6%;
      right:4%;
      width:25px;
    }
    .search-input {
      width: 100%;
    }


    .carousel-container {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }

    .carousel {
      display: flex;
      transition: transform 0.5s ease;
    }

    .carousel-items {
      display: flex;
    }

    .product {
      /*width: 100px;
      height: 100px;
      background-color: #ccc;
      margin: 10px;*/

    }

    .prev-button,.next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    .prev-button {
      left: 20px;
      background-color: #0A4BB9;
    }
    .next-button {
      right: 20px;
      background-color: #0A4BB9;
    }

    .prev-button:hover,
    .next-button:hover {
      background-color: #0A4BB5;;
    }

    
    .carousel-container2 {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }

    .carousel2 {
      display: flex;
      transition: transform 0.5s ease;
    }

    .carousel-items2 {
      display: flex;
    }

   
    .product2 {
      /*width: 100px;
      height: 100px;
      background-color: #ccc;*/
      margin: 10px;

    }

    .prev-button2,.next-button2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    .prev-button2 {
      left: 10px;
      background-color: #0A4BB9;
    }
    .next-button2 {
      right: 10px;
      background-color: #0A4BB9;
    }

    .prev-button2:hover,
    .next-button2:hover {
      background-color: #0A4BB5;;
    }
    .logo2{
      filter:grayscale(100%) invert(100%) ;
    }
    .logo3{
      filter:grayscale(100%) invert(100%) ;
    }
    .logo4{
      filter:grayscale(100%) invert(100%) ;
    }
    input:focus {
      outline:none;
    }

    .prev-button2:focus, .prev-button2:active {
      outline: none ;
      box-shadow: none ;
      border: none;
    }
    .next-button2:focus, .next-button2:active {
      outline: none ;
      box-shadow: none ;
      border: none;
    }
    .prev-button:focus, .prev-button:active {
      outline: none ;
      box-shadow: none ;
      border: none;
    }
    .next-button:focus, .next-button:active {
      outline: none ;
      box-shadow: none ;
      border: none;
    }
    .carousel-items .product {
      transition: none;
    }
    .carousel-items .product {
      transition: opacity 1s ease-in-out;
    }
    a {
        text-decoration: none; /* Eliminar el subrayado */
        color:#000;
    }
    /* Estilos para los botones de navegación */
  .swiper-button-prev, .swiper-button-next {
    width: 1px; /* Ancho del botón */
    height: 1px; /* Altura del botón */
    color:#f0f0f0;
    margin:auto;
  }
   .swiper-button-prev2, .swiper-button-next2 {
    width: 1px; /* Ancho del botón */
    height: 1px; /* Altura del botón */
    color:transparent;

   
  }
  ::placeholder {
  color: white; /* Cambia este valor al color que desees */
  }
  .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción 16:9 */
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Para eliminar el borde del iframe */
}
.form-container {
  max-width: 600px;
  margin: 1px auto;
  padding: 20px;
 
}

.form {
  position: relative;
}

.step {
  display: none;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 10px;
}

.step input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

.progress-bar {
  margin-top: 20px;
  background-color: grey;
}

#progress {
  height: 10px;
  background-color: blue;
  width: 0;
  transition: width 0.3s ease;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
      justify-content: center;
    font-weight: bold;
  }
  
  #menu ul li {
    float: left;
    position: relative;
      text-align: center; 
  }
  
  #menu ul li a {
    display: flex;
    padding: 5px 5px;
    text-decoration: none;
   /* color: rgb(255, 255, 255);
    font-size: 11pt;*/
    align-items: center;
  }
  #menu ul li a ul li a{
    
    padding: 5px 5px;
    text-decoration: none;
  /* color: rgb(0, 0, 0);*/
    display: flex; 
  
  }
  #menu ul li:hover > a {
   /* background-color: #4ec3da;*/
    font-weight: bold;
   /* color: #ffffff;*/
  
  }
  
  #menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    z-index: 1000; /* Ajuste para que el submenú esté encima de todo */
  }
  .milinea{
      color: #ffffff;
  }
  .milinea:hover{
      background-color: #4ec3da;
      font-weight: bold;
      color: #ffffff;
  
  }
  .milinea2{
      color: #a7a7a7;
      font-size: 10pt;
  }
  .milinea2:hover{
      background-color: #4ec3da;
      font-weight: bold;
      color: #ffffff;
  
  }

#menu ul ul a {
  padding: 5px 5px;
  display: block;
}

#menu ul ul ul {
  left: 100%;
  top: 0;
}

#menu ul li:hover > ul {
  display: block;
}

@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */
  #menu ul {
    width: 100%;
  }
  #menu ul li {
    width: 100%;
    width: 96%;
    left: 2%;
  }
 
  #menu ul ul {
    display: none;
    position: static;
    top: auto;
  }
  #menu ul li:hover > ul {
    display: block; /* Mostrar submenú al pasar el ratón sobre el elemento padre */
 
  }
  button:focus {
  outline: 2px solid white;
  background-color:grey;
}
  }